*{
    font-family: "Nunito", sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11a35a;
    height: 200px;
}

main {
    margin: 10px;
}

.logo {
    width: 300px;
    margin-left: 50px;
}

.titulo {
    text-align: center;
    font-size: 12px;
    margin-right: 100px;
}

.modoOscuro {
    background-color: rgb(33, 33, 33);
    color: rgb(222, 222, 222);
}

.titulo {
    color: black;
}

.cliente {
    display: inline-block;
    border: 2px solid #11a35a;
    margin: 10px;
    border-radius: 30px;
    width: 320px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cliente button {
    margin-left: 75px;
    margin-top: 20px;
}

#clientes {
    display: flex;
    width: 300px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    border: 3px solid #11a35a;
    border-radius: 30px;
    padding: 10px 50px;
}
button {
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    border: 0 solid rgb(33, 33, 33);
}

label {
    font-size: 20px;
    margin: 5px;
}

input, select {
    border-radius: 5px;
    border: 1px solid rgb(33, 33, 33);
    font-size: 20px;
}

#busqueda {
    text-align: center;
}

#resultadoBusqueda {
    text-align: center;
}

#registrados {
    text-align: center;
}


footer{
    text-align: end;
    margin-right: 20px;
}